body {
    margin: 0;
    background-color: #ebeab1;
}

div#root {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-color: #ffffff7e;
    grid-template-columns: 120px 1fr 120px;
    grid-template-rows: 1fr 1fr 1fr;
}